.logo-icons{
  margin-top: 6vw;

  display: flex;

    justify-content: space-between;
    margin-left: 4%;
    margin-right: 4%;
  }
  
  .img-logo{
  
    height:80px;
 
    

  }

  .tooltip {
    position: relative;
   
   
  }
  
  .tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: rgb(100, 91, 91);
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    bottom: 100%;
    left: 50%;
    margin-left: -60px;
  }
  
  .tooltip:hover .tooltiptext {
    visibility: visible;
  }