.App {
  background-image: url(./images/logo4.png );
  text-align: center;
  background-size:650px;

  background-position: center right ;
  background-repeat: no-repeat;


}
.margine {
  margin-left:10%;
  margin-right: 10%;
  margin-top: 2%;
 
}

