@font-face {
 font-family: 'ITC Avant Garde Gothic Std Extra Light';
 font-style: normal;
 font-weight: normal;
 src: local('ITC Avant Garde Gothic Std Extra Light'), url('ITCAvantGardeStdXLt.woff') format('woff');
      }

body {
font-family:'ITC Avant Garde Gothic Std Extra Light';
color: azure;
background: linear-gradient(
    to left,
    rgba(0,0,0, 0%),
    rgba(0,0,0, 90%)
  );

background-position: cover;
filter: drop-shadow(16px 16px 20px rgba(205, 208, 210, 0.8)) ;


}



