.footer-component{
   
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;

    opacity: 80%;
    color: white;
    font-size:14px;
    text-align: center;

 
   .im-foter{
       height:25px;
    
   }
   
}

@media screen and (max-width: 650px) {
    .footer-component{
        font-size: xx-small;
    }
}